.board-panel {
  position: relative;
  border: black 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.board-panel a {
  text-decoration: none;
  color: white;
}

.board-panel button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 2px;
  right: 2px;
}