.column {
  min-height: 200px;
  background-color:  #aba;
  margin: 5px;
  border: solid 1px black;
  flex: 1 1 100%;
  position: relative;

}

.up-appear {
  top: 700px;
}

.up-appear.up-appear-active {
  top: 0px;
  transition: top 0.5s ease-in;
}

@for $i from 1 through 20 {
  .column:nth-child(#{$i}) {
    transition-delay: .2s * $i;
  }
}
