.column {
  min-height: 200px;
  background-color:  #aba;
  margin: 5px;
  border: solid 1px black;
  flex: 1 1 100%;
  position: relative;
  top: 1500px;
  transition: top 1s cubic-bezier(0.83, 1.11, 0.78, 0.95);
}

.up {
  top: 0px;
}

@for $i from 1 through 20 {
  .column:nth-child(#{$i}) {
    transition-delay: .2s * $i;
  }
}
